<section class="container criar-tarefas ff-inter">
  <header class="header">
    <h2>Adicione uma <br>Tarefa nova:</h2>
  </header>
  <form>
    <label for="tarefa">Título da Tarefa</label>
    <input
      type="textarea"
      class="input"      
      placeholder="Digite o título da tarefa"
     
    >
    <label for="detalhes">Detalhes da tarefa</label>
    <input
      type="text"
      class="input"
      placeholder="Digite os datalhes da tarefa"
     
    >
     <label>Status da Tarefa:</label>
<div class="checkbox-group">
  <label>
    <input type="checkbox" name="status" value="pendente" />
    Pendente
  </label>
  <label>
    <input type="checkbox" name="status" value="concluida" />
    Concluída
  </label>
</div>
         
    
    <div class="acoes">
        <button [routerLink]="['/listar-tarefas']" class="botao">salvar</button>
         <button [routerLink]="['/tarefas']" class="botao">Cancelar</button>        
    </div>
  </form>
</section>